@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@700&family=Rakkas&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    color: rgb(205, 144, 101);
    cursor: pointer;
}

.f{
    color: burlywood;
}

.l{
    color: burlywood;
}

.nav li a{
    text-decoration-line:none ;
    margin-right: 35px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    font-size: 15px;
}

.nav ul li{
    list-style: none;
}
.nav ul{
    display: flex;
    margin: 30px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}

.home .nama{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 190px;

}

.nama .Muhammad{
    color: burlywood;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 40px;
}

.nama .fadhil{
    color: burlywood;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 120px;
}

.nama .Rajaba{
    color: burlywood;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 40px;
}

.hero-section{
    margin-top: 400px;
    display: flex;
    flex-direction: row-reverse;
    font-family: "Montserrat";
    justify-content: center;
    justify-content: space-evenly;
    align-items: ;
}

.img-hero img{
    width: 400px;
    border-radius: 30px;

}

.content-hero{
    color: burlywood;
    margin-top: 70px;


}

.content-hero h3{
    font-size: 50px;
}

.content-hero h1{
    font-size: 90px;
}

.content-hero p{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 27px;

}

.content-hero a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    background-color: burlywood;
    padding: 10px;  
    transition: 400ms ease;
}

.content-hero a:hover{
    background-color: white;
    color: burlywood;
}

.about-section{
    margin-top: 400px;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
}

.img-about img{
    width: 400px;
    border-radius: 30px;
    margin-left: 140px;
}

.content-about{
    color: burlywood;
    text-align: right;
    margin-top: 70px;
    margin-left: 358px;
}

.content-about h3{
    font-size: 40px;
}

.content-about h1{
    font-size: 90px;
}

.content-about p{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 27px;
    word-spacing: 5px;

}

.content-about a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    background-color: burlywood;
    padding: 10px;  
    transition: 400ms ease;
}

.content-about a:hover{
    background-color: white;
    color: burlywood;
}

.skill-section{
    margin: 400px 0 0 0;
}

.skill-section .header-skill p{
    color: burlywood;
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: 650;
    text-align: center;
    text-decoration: ;
}

.skill-section .content-skill{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 90px 0 0 0;
}

.ui-ux-skill{
    position: relative;
    height: 500px;
    width: 320px;
    border-radius: 22px;
    box-shadow: 0 0 10px rgb(196, 196, 196);    
}

.designer-skill{
    position: relative;
    height: 390px;
    width: 320px;
    border-radius: 22px;
    box-shadow: 0 0 10px rgb(196, 196, 196);
    transition: 700ms ease;
}

.designer-skill:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(124, 124, 124);

}

.img-designer img{
    border-radius: 17px 17px 0 0;
    width: 320px;
    border-bottom: 5px solid burlywood;
}

.content-designer{
    color: burlywood;
    padding: 0 15px 0 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.content-designer h3{
    font-family: "Montserrat";
    text-align: center;
    margin: 20px 0 20px 0;
    font-weight: 750;
}

.scracth-skill{
    position: relative;
    height: 390px;
    width: 320px;
    box-shadow: 0 0 10px rgb(196, 196, 196);
    border-radius: 22px;
    transition: 700ms ease;
}

.scracth-skill:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(124, 124, 124);

}

.img-scratch img{
    width: 320px;
    height: 160px;
    border-bottom: 5px solid burlywood;
    border-radius: 17px 17px 0 0;
}

.content-scratch{
    color: burlywood;
    padding: 0 15px 0 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.content-scratch h3{
    font-family: "Montserrat";
    text-align: center;
    margin: 20px 0 20px 0;
    font-weight: 750;
}

.ui-ux-skill{
    position: relative;
    height: 390px;
    width: 320px;
    box-shadow: 0 0 10px rgb(196, 196, 196);
    border-radius: 22px;
    transition: 700ms ease;
}

.ui-ux-skill:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(124, 124, 124);

}

.img-ui-ux img{
    width: 320px;
    height: 160px;
    border-bottom: 5px solid burlywood;
    border-radius: 17px 17px 0 0;
    background-size: cover;
}

.content-ui-ux{
    color: burlywood;
    padding: 0 15px 0 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.content-ui-ux h3{
    font-family: "Montserrat";
    text-align: center;
    margin: 20px 0 20px 0;
    font-weight: 750;
}

.gambar{
    margin: 450px 0 0 0;
    z-index: 0;
    position: relative;
}

.gambar::before{
    content:'';
    position: absolute;
    top: px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.358);
    z-index: 1;
}

.gambar img{
    width: 100%;
    height: 300px;
    background-color: beige;
}

.gambar .content .syukron{
    text-align: center ;
    position: absolute;
    top: 150px;
    left: 39%;
    color: white;
    z-index: 10;
    font-size: 20px;
    font-family: sans-serif;
}

.gambar .content .dah-liat-sampe-sini{
    font-size: 20px;
    position: absolute;
    top: 200px;
    right: 46%;
    font-family: "Montserrat";
    color: white;
    z-index: 10;
}